*{
    margin: 0 !important;
    box-sizing: border-box;
}

.center{text-align: center;}

.banner{
    float:left; 
    width: 100%;
}
.banner img{
    width: 100%; 
    vertical-align: middle;
}

.nav{
    float:left; 
    width: 100%; 
    background: #000;
}
.nav li {
    float:left; width: 25%; 
    text-align: center; 
    list-style: none;}
.nav a{
    display:block; 
    width: 100%; 
    padding: 10px 0; 
    color:#fff; 
    font-weight: bold; 
    text-decoration: 
    none; font-size: 20px;
}
.nav a:hover {
    background: #666;
}

.content{
    float:left; 
    width: 100%; 
    padding: 15px;
}



.formulario{
    float:left; 
    width: 70%; 
    height: 300px; 
    margin: 
    20px 15%;
}
.formulario-input{
    float:left; 
    width: 50%; 
    padding: 0 5%;
}

.formulario-input100{
    width: 100% !important;
}
.formulario-input input[type='text'] , .formulario-input select{
    width: 100%; 
    height: 45px;
}
.formulario-input input[type='submit']{
    display:inline-block; 
    padding: 15px 35px; 
    margin: 15px 0; 
    border:0; 
    cursor: pointer; 
    background: #000000; 
    color:#fff; 
    font-weight: bold; 
    text-align: center; 
    border-radius: 10px;
}

.resultado{
    display: none; 
    float:left; 
    width: 70%; 
    border: 2px solid #00ff0d; 
    background: #d8ffd5; 
    text-align:center; 
    padding: 15px; 
    margin: 20px 15% 10px 15%;
}

.tabela-crud{
    width: 100%; 
    text-align: center;
}
.tabela-crud tr:nth-child(2n -1){
    background: #CCC;
}
.tabela-crud tr:first-child{
    background: #000; 
    color:#fff; 
    font-weight: bold; 
    font-size: 20px;
}
.tabela-crud td{
    width: 25%;
}
.material-icons {
    color: rgb(45, 43, 43);
}





